@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Outfit:wght@100..900&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Homemade+Apple&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://unpkg.com/leaflet/dist/leaflet.css');


@import "tailwindcss";
* {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    padding: 30px;
    background-color: rgb(240, 242, 244); /* light mode */
    transition: background-color 0.3s ease;
  }
  
  body.dark {
    background-color: rgb(18, 18, 20); /* dark mode */
  }
  
h4 {
    font-family: "Alfa Slab One", serif;
    font-weight: 50;
    font-style: normal;
}
p {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-style: normal;
}
button {
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    font-style: normal;
}
span {
    font-family: "Alfa Slab One", serif;
    font-weight: 50;
    font-style: normal;
}


